Flask==3.1.1
requests==2.32.3
selenium==4.32.0
openpyxl==3.1.5
python-dotenv==1.1.0
beautifulsoup4==4.13.4
pytest==8.3.5
pytest-cov==6.1.1
ddddocr==1.6.1
svglib==1.6.0
reportlab==4.5.1
lxml==6.1.1
cryptography==42.0.5
Flask-SQLAlchemy==3.1.1
xhtml2pdf>=0.2.16
pypdf>=4.0.0
